.main-class {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-card {
  width: 70%;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.main-card-header, .main-card-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card-subtitle {
  justify-content: space-between;
}

.question-block {
  width: 100%;
  margin: 5px;
}

.question-options {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: auto; 
  margin: 5px 0;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #000;
  box-sizing: border-box;
  font-size: 1.3rem;
  overflow:unset;
}

.multiline-text {
  display: block;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.main-card-content {
  display: flex;
  flex-direction: column;
  height: auto;
}

.actualAnswer-button, .selectedAnswer-button, .sameAnswer-button {
  color: black;
}

.actualAnswer-button {
  background-color: yellow;
}

.selectedAnswer-button {
  background-color: blueviolet;
}

.sameAnswer-button {
  background-color: green;
}

.urdu-options {
  font-family: 'Noto Nastaliq Urdu', sans-serif !important;
  direction: rtl !important;
  unicode-bidi: embed !important;
}
