.main-class {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-card {
  width: 70%; /* Adjust the width of the main card */
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.main-card-header {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  text-align: center; /* Ensure text is centered */
}
 
.sub-card-block {
  width: 100%;
  margin: 5px;
}

mat-list-item {
  width: 100%; /* Ensures the list item takes up the full width */
  padding: 15px;
  margin: 5px 0;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #000;
  box-sizing: border-box;
  font-size: 1.3rem;
}

.main-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

button {
  width: 100px; /* Optional: Adjust button width */
}

.actualAnswer-button {
  /* Add styles to highlight the button */
  background-color: yellow;
  color: black;
  /* Add other styles as needed */
}

.urdu-options {
  font-family: 'Noto Nastaliq Urdu', sans-serif !important;
  direction: rtl !important;
  unicode-bidi: embed !important;
}