<div class="main-class">
    <mat-card class="main-card">
        <mat-card-header class="main-card-header">
            <mat-card-title class="main-card-title">Zyarr Quiz</mat-card-title>
            <mat-card-subtitle class="main-card-subtitle">Admin Control</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="main-card-content">
            <div *ngIf="currentMessage$">
                {{currentMessage$}}
            </div>
            <div *ngIf="!currentMessage$" class="sub-card-block">
                <p>
                    {{ currentQuestion$.question }}
                </p>
                <mat-list>
                    <mat-list-item *ngFor="let eachOption of  currentQuestion$.options; let i = index" 
                        class="option-container urdu-text"
                        [ngClass]="{'actualAnswer-button': i === actualAnswerIndex$}"
                    >
                        {{ eachOption }}
                    </mat-list-item>
                </mat-list>
            </div> 
        </mat-card-content>
        <mat-card-actions class="main-card-actions">
            <button mat-raised-button color="primary" [disabled]="appNextState != enumstartStop.START"
                (click)="startQuiz()">Start</button>
            <button mat-raised-button color="primary" [disabled]="questNextState != enumNextAns.NEXT"
                (click)="nextQuiz()">Next</button>
            <button mat-raised-button color="primary" [disabled]="questNextState != enumNextAns.ANSWER"
                (click)="answerQuiz()">Answer</button>
            <button mat-raised-button color="primary" [disabled]="appNextState != enumstartStop.STOP"
                (click)="stopQuiz()">End</button>
        </mat-card-actions>
    </mat-card>
</div>