.main-card {
    width: 100%;
    display: flex;
}

.class-data {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.class-name {
    width: 70%;
    border-radius: 3px;
    margin-right: 5px;
}

.class-score {
    width: 20%;
    border-radius: 3px;
}