<div class="main-class">
    <mat-card class="main-card">
        <mat-card-header class="main-card-header">
            <mat-card-title>Zyarr Quiz</mat-card-title>
            <mat-card-subtitle>Admin Control</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="main-card-content">
            <mat-divider></mat-divider>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>The score of participants</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>participants 1</p>
                    <p>participants 2</p>
                    <p>participants 3</p>
                    <p>participants 4</p>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>